.container
  %h1 Listing users
  .mb-3= link_to 'New User', new_user_path

  %table.table.mb-5
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th
        %th
        -if current_user.admin?
          %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin?
