.container
  %h1 Listing ambassadors
  %p= link_to 'New Ambassador', new_ambassador_path

  %table.table.datatable
    %thead
      %tr
        %th First name
        %th Last name
        %th Country
        %th Email
        %th Email Verified
        %th Status
        %th
        %th

    %tbody
      - @ambassadors.each do |ambassador|
        %tr
          %td= ambassador.first_name
          %td= ambassador.last_name
          %td= ambassador.country
          %td= mail_to ambassador.email
          %td= ambassador.verified
          %td= ambassador.approved
          %td= link_to 'Show', ambassador
          %td= link_to 'Edit', edit_ambassador_path(ambassador)
