.container
  %h1 Exploding Dots Chapters

  %p
    = link_to 'New Chapter', new_exploding_dots_chapter_path

  %table.table.datatable
    %thead
      %tr
        %th Number
        %th Name
        %th Teaching Guide
        %th Handout
        %th
        %th
        -if current_user.admin?
          %th

    %tbody
      - @chapters.each do |chapter|
        %tr
          %td= chapter.number
          %td= chapter.name
          - if chapter.teaching_quide
            %td= link_to('teaching guide', chapter.teaching_quide.url)
          - else
            %td No Teaching Guide
          - if chapter.handout
            %td= link_to('handout', chapter.teaching_quide.url)
          - else
            %td No Handout
          %td= link_to 'Show', chapter
          %td= link_to 'Edit', edit_exploding_dots_chapter_path(chapter)
          - if current_user.admin?
            %td= link_to 'Destroy', chapter,
                                    method: :delete,
                                    data: { confirm: 'Are you sure you want to delete this chapter?' }
